body {
    background-color: black;
    margin: 0px;
}

header div {
    display: flex;
    justify-content: center;
    height: auto;
    border-bottom: solid 3px #CEC046;
}

header div h1 {
    display: flex;
    font-size: 64px;
    color: #CEC046;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 0px;
    margin-bottom: 10px;
    align-items: center;
}

header div .left-logo {
    flex: 0 0 150px;
    min-width: 150px;
    min-height: 150px;
    float: left;
    transform: scaleX(-1);
}

header div .right-logo {
    flex: 0 0 150px;
    min-width: 150px;
    min-height: 150px;
    float: right;
}

header h2 {
    color: #CEC046;
    font-size: 48px;
    font-style: italic;
    text-align: center;
    margin: 0px;
    padding-top: 15px;
}

header p {
    color: #CEC046;
    font-size: 32px;
    text-align: center;
    margin: 0px;
    padding-top: 15px;
}

header h3 {
    color: #CEC046;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 3px #CEC046;
    margin: 0px;
}

header .main-nav {
    display: flex;
    justify-content: center;
    border-bottom: solid 3px #CEC046;
}

header .main-nav a {
    color: #CEC046;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    margin: 30px 15px 30px;
    border: 3px solid #CEC046;
    text-decoration: none;
}

header .main-nav a:hover {
    background-color: #CEC046;
    color: black;
    border: 3px solid black;
}

header .sub-nav {
    display: flex;
    justify-content: center;
    border-bottom: solid 3px #CEC046;
}

header .sub-nav a {
    color: #CEC046;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
    margin: 30px 15px 30px;
    border: 3px solid #CEC046;
    text-decoration: none;
}

header .sub-nav a:hover {
    background-color: #CEC046;
    color: black;
    border: 3px solid black;
}

.featured-section h2, 
.product-section h2,
.shipping-section h2,
.contact-container h2,
.about-container h2 {
    color: #CEC046;
    font-size: 48px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 15px;
}

.featured-row {
    display: flex;
    justify-content: center;
}

.row-item {
    text-align: center;
    padding: 10px 40px 10px;
}

.row-item img {
    min-height: 200px;
    min-width: 200px;
}

.row-item p {
    color: #CEC046;
    text-align: center;
    font-size: 32px;
}

.about-section {
    display: flex;
    justify-content: center;
}

.about-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.about-left p,
.contact-middle address {
    color: #CEC046;
    font-size: 24px;
    text-align: center;
    margin: 25px
}

.about-left img,
.contact-left img {
    display: flex;
    max-width: 90%;
    padding: 10px 10px 40px;    
    margin: 10px;
}

.about-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.about-right img,
.contact-right img {
    display: flex;
    max-width: 90%;
    padding: 10px 10px 40px;
}

.footer-container {
    display: flex;
    justify-content: center;
    border-bottom: solid 3px #CEC046;
}

.footer-site-map h3 {
    color: #CEC046;
    font-size: 48px;
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    margin: 15px
}

.footer-contact h3 {
    color: #CEC046;
    font-size: 48px;
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    margin: 15px 15px 60px 15px;
}

.footer-site-map {
    width: 50%;
    border-right: solid 3px #CEC046;
}

.footer-contact {
    width: 50%;
}

.footer-site-map nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-site-map nav a {
    width: fit-content;
    color: #CEC046;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 15px 10px;
    border: 3px solid #CEC046;
    text-decoration: none;
}

.footer-site-map nav a:hover {
    background-color: #CEC046;
    color: black;
    border: 3px solid black;
}

.footer-contact p {
    color: #CEC046;
    text-align: center;
    font-size: 36px;
}

.underline {
    text-decoration: underline;
}

.product-section,
.shipping-section,
.about-container,
.featured-section,
.contact-container {
    border-bottom: solid 3px #CEC046;
}

.shipping-section h4 {
    color: #CEC046;
    text-align: center;
    font-size: 36px;
}

.shipping-section p {
    color: #CEC046;
    text-align: center;
    font-size: 24px;
}

.shipping-calc {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.shipping-calc #price,
.shipping-calc #error {
    color: #CEC046;
    font-size: 24px;
}

.shipping-calc label {
    color: #CEC046;
    font-size: 32px;
}

#weight {
    height: 32px;
    width: 100px;
    font-size: 24px;
}

.shipping-calc button {
    font-size: 24px;
}

.contact-section {
    display: flex;
    justify-content: center;
    height: 500px;
}

.contact-left {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contact-right {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contact-right address p {
    color: #CEC046;
    font-size: 30px;
    margin: 50px 0px 50px;
}

.contact-middle {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contact-middle h3 {
    color: #CEC046;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin: 5px;
}

#form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#form-section div {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px;
}

.form-label {
    color: #CEC046;
    width: max-content;
    font-size: 24px;
    text-align: center;
}

#name, #email {
    width: 90%;
    height: 40px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

#message {
    width: 90%;
    height: 120px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

#submit {
    width: 75%;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}